:root {
  --color-primary-text: #bebad4;
  --color-mutedorange: 235, 158, 100;
  --color-lightgrey: #d3d3d3;
  --color-purple: #5d178f;
  --color-darkpurple: #1b191f;
  --color-cyan: 43, 174, 194;

  --color-primary: var(--color-mutedorange);
}
